$color_blue: #2196F3;
$color_darkgrey: #212121;
$color_white: #ffffff;
$color_grey: #757575;
$color_grey2: #75757580;
$color_white2: rgb(255, 255, 255);
$color_lightgrey: #FFFFFF99;
$font-family_roboto: "Roboto", sans-serif;
$font-family_raleway: "Raleway", sans-serif;
$font-family_sansserif: sans-serif;
$background-color_black: rgba(0, 0, 0, 0.5);